# pandas 进阶修炼 ｜早起Python
<br>

**本习题由公众号【早起Python & 可视化图鉴】 原创，转载及其他形式合作请与我们联系（微信号`sshs321`)，未经授权严禁搬运及二次创作，侵权必究！**



本习题基于 `pandas` 版本 `1.1.3`，所有内容应当在 `Jupyter Notebook` 中执行以获得最佳效果。

不同版本之间写法可能会有少许不同，如若碰到此情况，你应该学会如何自行检索解决。

## 5 - 数据筛选与修改


<br>

现在，终于来到 `pandas` 数据分析中最**高频**的操作，没有之一————数据的<font color = '#FB8E00'>**增删改查**</font>

在后面的分组、聚合、透视、可视化等多个操作中，数据的筛选、修改操作也会不断出现。

因此在本章节，我整理了 40 余个常用操作

以习题的形式，带大家回顾利用 `pandas` 进行数据的增删改查。

需要注意的是，**本节中的大部分习题都有两个、三个或者更多的解法**，但我仅提供一个思路。

我提供的并非唯一也并非最优的方法，欢迎大家集思广益，加入 pandas 星球来提交你的解答并获得一定奖励。

## 初始化

<br>

该 `Notebook` 版本为**纯习题版**

如果需要答案或者提示，可以微信搜索公众号「早起Python」获取！

## 加载数据

In [2]:
import pandas as pd

# df = pd.read_html("https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm")[0]

df = pd.read_csv("东京奥运会奖牌数据.csv")  # 如果未联网可以使用这条命令加载数据

## 5-1 数据修改

### 1- <font color = '#FB8E00'>数据修改</font>｜列名

<br>

将原 `df` 列名 `Unnamed: 2`、`Unnamed: 3`、`Unnamed: 4` 修改为 `金牌数`、`银牌数`、`铜牌数`

In [3]:
df.rename(columns={'Unnamed: 2':'金牌数',
                  'Unnamed: 3':'银牌数',
                  'Unnamed: 4':'铜牌数'},inplace=True)

### 2 - <font color = '#FB8E00'>数据修改</font>｜行索引

<br>

将第一列（排名）设置为索引

In [4]:
df.set_index("排名",inplace=True)

### 3 - <font color = '#FB8E00'>数据修改</font>｜修改索引名

<br>

修改索引名为 金牌排名

In [5]:
df.rename_axis("金牌排名",inplace=True)

### 4 - <font color = '#FB8E00'>数据修改</font>｜修改值

<br>

将 ROC（第一列第五行）修改为 俄奥委会

In [6]:
df.iloc[4,0] = '俄奥委会'

### 5 - <font color = '#FB8E00'>数据修改</font>｜替换值（单值）

<br>

将金牌数列的数字 `0` 替换为 `无`

In [7]:
df['金牌数'].replace(0,'无',inplace=True)

### 6 - <font color = '#FB8E00'>数据修改</font>｜替换值（多值）

同时替换

- 将 `无` 替换为 缺失值
- 将 0 替换为 `None`

注意：缺失值的 Nan 该怎么生成？

In [8]:
import numpy as np
df.replace(['无',0],[np.nan,'None'],inplace = True)

### 7 - 数据查看

查看各列数据类型

In [9]:
df.dtypes

国家奥委会       object
金牌数        float64
银牌数         object
铜牌数         object
总分          object
按总数排名       object
国家奥委会代码     object
dtype: object

### 8 - <font color = '#FB8E00'>数据修改</font>｜修改类型

将 `金牌数` 列类型修改为 `int`

In [10]:
df['金牌数'] = df['金牌数'].fillna('0').astype(int)
df['金牌数'] = df['金牌数'].fillna('0').map(lambda x :int(x))

### 9 - <font color = '#1B85FF' >数据增加</font>｜新增列（固定值）

<br>

**重新加载数据** 并 **新增一列** 比赛地点，值为 `东京`

In [11]:
df['比赛地点'] = '东京'

微信搜索公众号「早起Python」，关注后可以获得更多资源！

### 10 - <font color = '#1B85FF' >数据增加</font>｜新增列（计算值）

<br>

**新增一列** 金银牌总数列，值为该国家金银牌总数

In [13]:
df = df.replace('None',0)
df['金银牌总数']  = df['金牌数']  + df['银牌数']
df

     国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码 比赛地点  金银牌总数
金牌排名
1       美国   39   41   33  113      1     USA   东京     80
2       中国   38   32   18   88      2     CHN   东京     70
3       日本   27   14   17   58      5     JPN   东京     41
4       英国   22   21   22   65      4     GBR   东京     43
5     俄奥委会   20   28   23   71      3     ROC   东京     48
...    ...  ...  ...  ...  ...    ...     ...  ...    ...
86      加纳    0    0    1    1     77     GHA   东京      0
86    格林纳达    0    0    1    1     77     GRN   东京      0
86     科威特    0    0    1    1     77     KUW   东京      0
86    摩尔多瓦    0    0    1    1     77     MDA   东京      0
86     叙利亚    0    0    1    1     77     SYR   东京      0

[93 rows x 9 columns]

### 11 - <font color = '#1B85FF' >数据增加</font>｜新增列（比较值）

新增一列 最多奖牌数量 列，值为该过金银牌数量种最多的一个奖牌数量

例如美国银牌最多，则为41，中国为38

In [52]:
df['最多奖牌数量1'] = df.bfill(1)[["金牌数", "银牌数",'铜牌数']].mean(1) #{0 or ‘index’, 1 or ‘columns’} 

# bfill()与ffill()默认列前后填充 
df['最多奖牌数量2'] = df.ffill()[["金牌数", "银牌数",'铜牌数']].min(1) 
df['最多奖牌数量3'] = df.fillna(method='bfill')[["金牌数", "银牌数",'铜牌数']].min(1)
df['最多奖牌数量5']=df[["金牌数", "银牌数",'铜牌数']].max(axis=1)
df['最多奖牌数量6']=df[["金牌数", "银牌数",'铜牌数']].apply(max, axis=1)

(df[['A','B']].max(axis=1).max(axis=0)) #行列最大值
# 此方法中bfill与ffill一致

,国家奥委会,金牌数,银牌数,铜牌数,总分,按总数排名,国家奥委会代码,比赛地点,金银牌总数,最多奖牌数量,最多奖牌数量1,最多奖牌数量2,金牌大于30,最多奖牌数量3,最多奖牌数量5
金牌排名,,,,,,,,,,,,,,,
1,美国,39,41,33,113,1,USA,东京,80,41.0,37.666667,33,是,33,41
2,中国,38,32,18,88,2,CHN,东京,70,38.0,29.333333,18,是,18,38
3,日本,27,14,17,58,5,JPN,东京,41,27.0,19.333333,14,否,14,27
4,英国,22,21,22,65,4,GBR,东京,43,22.0,21.666667,21,否,21,22
5,俄奥委会,20,28,23,71,3,ROC,东京,48,28.0,23.666667,20,否,20,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,加纳,0,0,1,1,77,GHA,东京,0,1.0,0.333333,0,否,0,1
86,格林纳达,0,0,1,1,77,GRN,东京,0,1.0,0.333333,0,否,0,1
86,科威特,0,0,1,1,77,KUW,东京,0,1.0,0.333333,0,否,0,1
86,摩尔多瓦,0,0,1,1,77,MDA,东京,0,1.0,0.333333,0,否,0,1
86,叙利亚,0,0,1,1,77,SYR,东京,0,1.0,0.333333,0,否,0,1

### 12 - <font color = '#1B85FF' >数据增加</font>｜新增列（判断值）

新增一列 金牌大于30

如果一个国家的金牌数大于 30 则值为 是，反之为 否

In [55]:
df['金牌大于30']  = np.where(df['金牌数'] > 30, '是', '否')
df['金牌大于20']=df['金牌数'].apply(lambda x:  '是' if x >30  else '否' )
df
# lambda x: 语句1 if 条件1 else ( 语句2 if 条件2 else 语句3 )
bags_inv= {
    6: 'planes bag',
    4: 'pods bag',
    13: 'ground system bag'
}
df['金牌大于20']=df['金牌数'].map(bags_inv)

,国家奥委会,金牌数,银牌数,铜牌数,总分,按总数排名,国家奥委会代码,比赛地点,金银牌总数,最多奖牌数量,最多奖牌数量1,最多奖牌数量2,金牌大于30,最多奖牌数量3,最多奖牌数量5,金牌大于20
金牌排名,,,,,,,,,,,,,,,,
1,美国,39,41,33,113,1,USA,东京,80,41.0,37.666667,33,是,33,41,是
2,中国,38,32,18,88,2,CHN,东京,70,38.0,29.333333,18,是,18,38,是
3,日本,27,14,17,58,5,JPN,东京,41,27.0,19.333333,14,否,14,27,否
4,英国,22,21,22,65,4,GBR,东京,43,22.0,21.666667,21,否,21,22,否
5,俄奥委会,20,28,23,71,3,ROC,东京,48,28.0,23.666667,20,否,20,28,否
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,加纳,0,0,1,1,77,GHA,东京,0,1.0,0.333333,0,否,0,1,否
86,格林纳达,0,0,1,1,77,GRN,东京,0,1.0,0.333333,0,否,0,1,否
86,科威特,0,0,1,1,77,KUW,东京,0,1.0,0.333333,0,否,0,1,否
86,摩尔多瓦,0,0,1,1,77,MDA,东京,0,1.0,0.333333,0,否,0,1,否
86,叙利亚,0,0,1,1,77,SYR,东京,0,1.0,0.333333,0,否,0,1,否

df.where从主体df出发，True返回df 本身的值，否则返回other的值；

np.where（cond，x，y）,True返回x的值，False返回y的值

In [57]:
df['金牌大于30-02']  = np.where(df['金牌数'] > 30, '是', '否')
# df.where从主体df出发，True返回df 本身的值，否则返回other的值；np.where（cond，x，y）,True返回x的值，False返回y的值

### 13 - <font color = '#1B85FF' >数据增加</font>｜增加多列

新增两列，分别是

- 金铜牌总数（金牌数+铜牌数）
- 银铜牌总数（银牌数+铜牌数）

In [18]:
df = df.assign(金铜牌总数=df.金牌数 + df.铜牌数,
         银铜牌总数=df.银牌数+df.铜牌数)

### 14 - <font color = '#1B85FF' >数据增加</font>｜新增列（引用变量）

新增一列金牌占比，为各国金牌数除以总金牌数（gold_sum）

In [21]:
gold_sum = df['金牌数'].sum()

In [22]:
df.eval(f'金牌占比 = 金牌数 / {gold_sum}',inplace=True)

In [ ]:
# pandas 如何控制输出格式？？
df['金牌占比']=df['金牌占比'].map(lambda x :f'{x:.2%}')
df['金牌占比']=df['金牌占比'].map(lambda x :format(x,'2%'))

In [65]:
# df.eval("op = op * @mult if index < @ex_date else op", inplace=True)
# eval 条件用法

In [84]:
df[['金牌占比2','金牌占比']]

         金牌占比2    金牌占比
金牌排名
1     0.114706  11.47%
2     0.111765  11.18%
3     0.079412   7.94%
4     0.064706   6.47%
5     0.058824   5.88%
...        ...     ...
86    0.000000   0.00%
86    0.000000   0.00%
86    0.000000   0.00%
86    0.000000   0.00%
86    0.000000   0.00%

[93 rows x 2 columns]

 当我们要做的不是修改数据(pd(df).eval())而是筛选数据时，使用query()函数

### 15 - <font color = '#1B85FF' >数据增加</font>｜新增行（末尾追加）

<br>

在 df 末尾追加一行，内容为 0,1,2,3... 一直到 `df` 的列长度

In [105]:
df1 = pd.DataFrame([[i for i in range(len(df.columns))]], columns=df.columns)
df1

df_new = df.append(df1)

   排名  国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名  国家奥委会代码
0   0      1    2    3    4   5      6        7

### 16 - <font color = '#1B85FF' >数据增加</font>｜新增行（指定位置）

<br>

在第 2 行新增一行数据，即美国和中国之间。

数据内容同上一题

In [106]:
df1 = df.iloc[:1, :] 
df2 = df.iloc[1:, :]
df3 = pd.DataFrame([[i for i in range(len(df.columns))]], columns=df.columns)
df_new = pd.concat([df1, df3, df2], ignore_index=True)
# 这就给切片了。。。拆了啊
df_new

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1    美国   39   41   33  113      1     USA
1    0     1    2    3    4    5      6       7
2    2    中国   38   32   18   88      2     CHN
3    3    日本   27   14   17   58      5     JPN
4    4    英国   22   21   22   65      4     GBR
..  ..   ...  ...  ...  ...  ...    ...     ...
89  86    加纳    0    0    1    1     77     GHA
90  86  格林纳达    0    0    1    1     77     GRN
91  86   科威特    0    0    1    1     77     KUW
92  86  摩尔多瓦    0    0    1    1     77     MDA
93  86   叙利亚    0    0    1    1     77     SYR

[94 rows x 8 columns]

### 17 - <font color ='#27BE49'>数据删除</font>｜删除行

<br>

删除 `df` 第一行

In [18]:
df.drop(df[df.金牌数<20].index)

### 18 - <font color ='#27BE49'>数据删除</font>｜删除行（条件）

In [89]:
df.drop(df[df.金牌数<20].index)

### 19 - <font color ='#27BE49'>数据删除</font>｜删除列

<br>

删除刚刚新增的 比赛地点 列

In [90]:
df.drop(columns=['最多奖牌数量3'],inplace=True)

### 20 - <font color ='#27BE49'>数据删除</font>｜删除列（按列号）

<br>

删除 `df` 的 `7、8、9、10` 列

In [98]:
df_new.drop(df_new.columns[[1,2,3,4]], axis=1,inplace=True)
df_new

,国家奥委会,按总数排名,国家奥委会代码,比赛地点,金银牌总数,最多奖牌数量,最多奖牌数量1,最多奖牌数量2,金牌大于30,最多奖牌数量3,最多奖牌数量5,金牌大于20,金牌大于30-02,金牌占比,金牌占比2
0,美国,1,USA,东京,80,41.0,37.666667,33,是,33,41,是,是,11.47%,0.114706
1,0,5,6,7,8,9.0,10.000000,11,12,13,14,15,16,17,18.000000
2,中国,2,CHN,东京,70,38.0,29.333333,18,是,18,38,是,是,11.18%,0.111765
3,日本,5,JPN,东京,41,27.0,19.333333,14,否,14,27,否,否,7.94%,0.079412
4,英国,4,GBR,东京,43,22.0,21.666667,21,否,21,22,否,否,6.47%,0.064706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,加纳,77,GHA,东京,0,1.0,0.333333,0,否,0,1,否,否,0.00%,0.000000
90,格林纳达,77,GRN,东京,0,1.0,0.333333,0,否,0,1,否,否,0.00%,0.000000
91,科威特,77,KUW,东京,0,1.0,0.333333,0,否,0,1,否,否,0.00%,0.000000
92,摩尔多瓦,77,MDA,东京,0,1.0,0.333333,0,否,0,1,否,否,0.00%,0.000000
93,叙利亚,77,SYR,东京,0,1.0,0.333333,0,否,0,1,否,否,0.00%,0.000000

In [109]:
df_new.drop(df_new.iloc[:,[1,2,3,4]], axis=1,inplace=True)
df_new

    排名   总分  按总数排名 国家奥委会代码
0    1  113      1     USA
1    0    5      6       7
2    2   88      2     CHN
3    3   58      5     JPN
4    4   65      4     GBR
..  ..  ...    ...     ...
89  86    1     77     GHA
90  86    1     77     GRN
91  86    1     77     KUW
92  86    1     77     MDA
93  86    1     77     SYR

[94 rows x 4 columns]

## 5-2 数据筛选

以下所有答案要求返回的是一个 dataframe 而不是 Series 这样可以直接存储为 Excel 等格式的文件！

### 21 - 重新加载数据

In [5]:
import pandas as pd

# df = pd.read_html("https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm")[0]

df = pd.read_csv("东京奥运会奖牌数据.csv")  # 如果未联网可以使用这条命令加载数据

df.rename(columns={'Unnamed: 2':'金牌数',
                  'Unnamed: 3':'银牌数',
                  'Unnamed: 4':'铜牌数'},inplace=True)


### 22 - <font color = '#FB8E00'>筛选列</font>｜通过列号

提取第 1、2、3、4 列

In [ ]:
df.iloc[:,[0,1,2,3]]

### 23 - <font color = '#FB8E00'>筛选列</font>｜通过列名

提取 `金牌数、银牌数、铜牌数` 三列

In [110]:
df[['金牌数','银牌数','铜牌数']]

    金牌数  银牌数  铜牌数
0    39   41   33
1    38   32   18
2    27   14   17
3    22   21   22
4    20   28   23
..  ...  ...  ...
88    0    0    1
89    0    0    1
90    0    0    1
91    0    0    1
92    0    0    1

[93 rows x 3 columns]

### 24 - <font color = '#FB8E00'>筛选列</font>｜条件（列号）

筛选全部 **奇数列**

In [111]:
df.iloc[:,[i%2==1 for i in range(len(df.columns))]]

   国家奥委会  银牌数   总分 国家奥委会代码
0     美国   41  113     USA
1     中国   32   88     CHN
2     日本   14   58     JPN
3     英国   21   65     GBR
4    ROC   28   71     ROC
..   ...  ...  ...     ...
88    加纳    0    1     GHA
89  格林纳达    0    1     GRN
90   科威特    0    1     KUW
91  摩尔多瓦    0    1     MDA
92   叙利亚    0    1     SYR

[93 rows x 4 columns]

### 25 - <font color = '#FB8E00'>筛选列</font>｜条件（列名）

提取全部列名中包含 数 的列

In [118]:
df.loc[:, df.columns.str.endswith('数')]
df.iloc[:, df.columns.str.endswith('数')]

    金牌数  银牌数  铜牌数
0    39   41   33
1    38   32   18
2    27   14   17
3    22   21   22
4    20   28   23
..  ...  ...  ...
88    0    0    1
89    0    0    1
90    0    0    1
91    0    0    1
92    0    0    1

[93 rows x 3 columns]

    金牌数  银牌数  铜牌数
0    39   41   33
1    38   32   18
2    27   14   17
3    22   21   22
4    20   28   23
..  ...  ...  ...
88    0    0    1
89    0    0    1
90    0    0    1
91    0    0    1
92    0    0    1

[93 rows x 3 columns]

### 26 - <font color = '#FB8E00'>筛选列</font>｜组合（行号+列名）

提取倒数后三列的10-20行

In [119]:
df.loc[10:20, '总分':]

    总分  按总数排名 国家奥委会代码
10  24     11     CAN
11  21     12     BRA
12  20     13     NZL
13  15     18     CUB
14  20     13     HUN
15  20     13     KOR
16  14     19     POL
17  11     23     CZE
18  10     25     KEN
19   8     29     NOR
20   9     26     JAM

### 27 - <font color = '#1B85FF' >筛选行</font>｜通过行号

提取第 10 行

In [123]:
df.loc[9:9]
df.iloc[9:10]

   排名 国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
9  10   意大利   10   10   20  40      7     ITA

   排名 国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
9  10   意大利   10   10   20  40      7     ITA

### 28 -  <font color = '#1B85FF' >筛选行</font>｜通过行号（多行）

提取第 10 行之后的全部行

In [ ]:
df.loc[9:]

### 29 - <font color = '#1B85FF' >筛选行</font>｜固定间隔

提取 0-50 行，间隔为 3

In [ ]:
df[:50:3]

### 30 -  <font color = '#1B85FF' >筛选行</font>｜判断（大于）

提取 金牌数 大于 30 的行

In [ ]:
df[df['金牌数'] > 30]

### 31 -  <font color = '#1B85FF' >筛选行 </font>｜判断（等于）

提取 `金牌数` 等于 10 的行

In [126]:
# eq, ne, le, lt, ge, gt
# ==, !=, <=, <, >=, > 

df.loc[df['金牌数'] == 10]

df.loc[df['金牌数'].eq(10)]

   排名 国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
6   7    荷兰   10   12   14  36      9     NED
7   8    法国   10   12   11  33     10     FRA
8   9    德国   10   11   16  37      8     GER
9  10   意大利   10   10   20  40      7     ITA

   排名 国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
6   7    荷兰   10   12   14  36      9     NED
7   8    法国   10   12   11  33     10     FRA
8   9    德国   10   11   16  37      8     GER
9  10   意大利   10   10   20  40      7     ITA

### 32 - <font color = '#1B85FF' >筛选行</font>｜判断（不等于）

提取 `金牌数` 不等于 `10` 的行

In [127]:
df.loc[~(df['金牌数'] == 10)]
df.loc[df['金牌数'].ne(10)]

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1    美国   39   41   33  113      1     USA
1    2    中国   38   32   18   88      2     CHN
2    3    日本   27   14   17   58      5     JPN
3    4    英国   22   21   22   65      4     GBR
4    5   ROC   20   28   23   71      3     ROC
..  ..   ...  ...  ...  ...  ...    ...     ...
88  86    加纳    0    0    1    1     77     GHA
89  86  格林纳达    0    0    1    1     77     GRN
90  86   科威特    0    0    1    1     77     KUW
91  86  摩尔多瓦    0    0    1    1     77     MDA
92  86   叙利亚    0    0    1    1     77     SYR

[89 rows x 8 columns]

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1    美国   39   41   33  113      1     USA
1    2    中国   38   32   18   88      2     CHN
2    3    日本   27   14   17   58      5     JPN
3    4    英国   22   21   22   65      4     GBR
4    5   ROC   20   28   23   71      3     ROC
..  ..   ...  ...  ...  ...  ...    ...     ...
88  86    加纳    0    0    1    1     77     GHA
89  86  格林纳达    0    0    1    1     77     GRN
90  86   科威特    0    0    1    1     77     KUW
91  86  摩尔多瓦    0    0    1    1     77     MDA
92  86   叙利亚    0    0    1    1     77     SYR

[89 rows x 8 columns]

### 33 - <font color = '#1B85FF' >筛选行</font>｜条件（指定行号）

提取全部 **奇数行**

In [ ]:
df[[i%2==1 for i in range(len(df.index))]]

### 34 - <font color = '#1B85FF' >筛选行</font>｜条件（指定值）


提取 中国、美国、英国 三行数据

In [ ]:
df.loc[df['国家奥委会'].isin(['中国','美国','英国','日本','巴西'])]

### 35 -  <font color = '#1B85FF' >筛选行</font>｜多条件

在上一题的条件下，新增一个条件：**金牌数小于30**

In [ ]:
df.loc[(df['金牌数'] < 30) & (df['国家奥委会'].isin(['中国','美国','英国','日本','巴西']))]

### 36 - <font color = '#1B85FF' >筛选行</font>｜条件（包含指定值）

提取 国家奥委会 列中，所有包含 `国`的行

In [19]:
df[df.国家奥委会.str.contains('国')]

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1    美国   39   41   33  113      1     USA
1    2    中国   38   32   18   88      2     CHN
3    4    英国   22   21   22   65      4     GBR
7    8    法国   10   12   11   33     10     FRA
8    9    德国   10   11   16   37      8     GER
15  16    韩国    6    4   10   20     13     KOR
48  49  中国香港    1    2    3    6     39     HKG
61  59    泰国    1    0    1    2     66     THA

### 37 - 筛选某行某列

提取 `第 0 行第 2 列`

In [18]:
df.iloc[0:1,[1]]

  国家奥委会
0    美国

### 38 - 筛选多行多列


提取 第 0-2 行第 0-2 列

In [23]:
df.iloc[0:2,[0,1]]

   排名 国家奥委会
0   1    美国
1   2    中国

### 39 - <font color ='#27BE49'>筛选值</font>｜组合（行号+列号）

提取第 4 行，第 4 列的值

In [17]:
pd.__version__ 

df.at[4,'金牌数']
df.iat[4,2]



# df2['金牌数'].highlight_between(left=10, right=30)

'1.3.5'

20

20

###  40 - <font color ='#27BE49'>筛选值</font>｜组合（行号+列名）

提取行索引为 4 ，列名为 金牌数 的值

In [145]:
df.at[4,'金牌数']

20

### 41 - <font color ='#27BE49'>筛选值</font>｜条件

提取 国家奥委会 为 中国 的金牌数

In [144]:
df.loc[df['国家奥委会'] == '中国']
df.loc[df['国家奥委会'] == '中国'].loc[1].at['金牌数']
df.loc[df['国家奥委会'] == '中国'].at[1,'金牌数']
df.loc[df['国家奥委会'] == '中国'].iat[0,2]

   排名 国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
1   2    中国   38   32   18  88      2     CHN

38

38

38

### 42 - <font color ='#27BE49'>筛选值</font>｜query

使用 query 提取 金牌数 + 银牌数 大于 15 的国家

In [146]:
df.query('金牌数+银牌数 > 15')

   排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0   1    美国   39   41   33  113      1     USA
1   2    中国   38   32   18   88      2     CHN
2   3    日本   27   14   17   58      5     JPN
3   4    英国   22   21   22   65      4     GBR
4   5   ROC   20   28   23   71      3     ROC
5   6  澳大利亚   17    7   22   46      6     AUS
6   7    荷兰   10   12   14   36      9     NED
7   8    法国   10   12   11   33     10     FRA
8   9    德国   10   11   16   37      8     GER
9  10   意大利   10   10   20   40      7     ITA

###  43 - <font color ='#27BE49'>筛选值</font>｜query（引用变量）

使用 query 提取 金牌数 大于 金牌均值的国家

In [147]:
gold_mean = df['金牌数'].mean()
df.query(f'金牌数 > {gold_mean}')

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1    美国   39   41   33  113      1     USA
1    2    中国   38   32   18   88      2     CHN
2    3    日本   27   14   17   58      5     JPN
3    4    英国   22   21   22   65      4     GBR
4    5   ROC   20   28   23   71      3     ROC
5    6  澳大利亚   17    7   22   46      6     AUS
6    7    荷兰   10   12   14   36      9     NED
7    8    法国   10   12   11   33     10     FRA
8    9    德国   10   11   16   37      8     GER
9   10   意大利   10   10   20   40      7     ITA
10  11   加拿大    7    6   11   24     11     CAN
11  12    巴西    7    6    8   21     12     BRA
12  13   新西兰    7    6    7   20     13     NZL
13  14    古巴    7    3    5   15     18     CUB
14  15   匈牙利    6    7    7   20     13     HUN
15  16    韩国    6    4   10   20     13     KOR
16  17    波兰    4    5    5   14     19     POL
17  18    捷克    4    4    3   11     23     CZE
18  19   肯尼亚    4    4    2   10     25     KEN
19  20    挪威    4    2    2    8     29     NOR
20  21   牙买加    4    1    4    9     26     JAM

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/16/16317972442543.jpg?域名/sample.jpg?x-oss-process=style/stylename)

In [2]:
import pandas as pd

pd.__version__

'1.3.5'